<fieldset>
    <form [formGroup]= "userForm">
        <div class="input-group flex-nowrap" >
            <span class="input-group-text" id="addon-wrapping"></span>
            <input type="text" class="form-control" placeholder="Nom" aria-label="nom" aria-describedby="addon-wrapping">
          </div>
          <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping"></span>
            <input type="text" class="form-control" placeholder="Prenom" aria-label="prenom" aria-describedby="addon-wrapping">
          </div>
          <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping"></span>
            <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="addon-wrapping">
          </div>
          <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping"></span>
            <input type="text" class="form-control" placeholder="Password" aria-label="password" aria-describedby="addon-wrapping">
          </div>
    
  
  
  <button>ADD</button>
  <button ></button>
    </form>
</fieldset> 
